<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>Password Change</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-3">
					
						<h1 class="text-center">Please enter your new Password</h1>

						<form th:action="@{/change-password}" method="post" >

							<!-- Email Field -->
							<div class="form-group">						
								<input
									name="newPassword"
									type="password" 
									id="newPassword"
									class="form-control" 
									placeholder="Enter your new password" 
									required
								/>
								
							</div>
							<!-- Email Field End-->
							
							<!-- Buttons-->
							<div class="container text-center mt-2">
								<button class="btn btn-primary btn-block text-white bg-primary" type="submit">
									Submit
								</button>	
							</div>
							<!-- Buttons End-->
						</form>

					</div>
				</div>

			</div>
		</div>
	</section>

</body>
</html>